<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-light re-background">

        <a class="btn-lg nav-link text-white" th:href="@{/}">Resident Evil</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <th:block th:if="${principal !=null}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Viruses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/viruses/show}">Show</a>
                            <a class="dropdown-item" th:href="@{/viruses/add}">Add</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn btn-secondary">Logout</button>
                        </form>
                    </li>
                </th:block>
                <th:block th:if="${principal == null}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/register}">Register <span
                                class="sr-only">(current)</span></a>
                    </li>

                </th:block>

            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>